body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://fastly.picsum.photos/id/94/1800/900.jpg?hmac=RoDKl6wyo_30ZBlfJ0fhXwb8TLFZQMavei8eZ4DwJBg");
  background-size: cover;
}

.container {
  max-width: 600px;
  min-width: 400px;
  margin: 50px auto;
  background-color: #ffffff3b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #33a3f3;
}

.add-task-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.add-button {
  width: 40px;
  height: 40px;
  background-color: #33a3f3;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}

.add-button:hover {
  background-color: #1e87db;
}

.task-list {
  list-style: none;
  padding: 0;
  max-height: 40vh;
  overflow-y: auto;
}

.task-list li {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-id {
  font-weight: bold;
  color: #33a3f3;
  margin-right: 10px;
}

.delete-link {
  color: #ff5252;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.2s ease-in-out;
}

.delete-link:hover {
  color: #e00000;
}
